.center {
    margin: auto;
    width: 500px;
    height: 500px;
    padding: 0px;
}

.game {
    display: table;
}

.title {
    font-size: 4em;
    text-align: center;
    display: table-caption;
}

.group {
    display: table-row-group;
}

.arena {
    display: table-row;
}

.board {
    display: table-cell;
}

.panel {
    display: table-cell;
    vertical-align: top;
    padding-left: 25px;
    padding-right: 25px;
    background-color: lightgrey;
}

.legend {
    padding-top: 50px;
    display: table;
    font-size: 1em;
    font-weight: bold;
}

.legend-item {
    display: table-row;
}

.next-box {
}

.title {
    font-size: 3em;
    text-align: center;
}

.sub-title {
    margin-top: 0px;
    text-align: center;
}
